.marker {
  background-image: url("/icons/general/marker.png");
  text-align: center;
  color: #fff;
  background-size: contain;
  width: 60px !important;
  height: 60px !important;
  margin-top: -30px !important;
}
