@use "../../../styles/_globalVariables.scss" as *;
.passWordChange {
  background-color: white;
  padding: 2rem;
  min-width: 30rem;
}

.passwordChangeTitle {
  margin-bottom: 1rem;
}

.submitBtn {
  @include blue-button;
  padding: 0.6rem 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
