@use "../../../../styles/_globalVariables.scss" as *;
.title {
  padding: 0 2.1rem;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.1rem;
  margin: 0.9rem 0rem;
  input {
    width: 23%;
    padding: 0.3rem;
    height: 2rem;
    @include standard-input;
  }
}

.line {
  border: 0.5px solid #cecece;
  width: 100%;
}
